
/* Top bar stuff */
head {
margin: 0;
border: 0;
padding: 0;
}


.largetitle {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 45px; 
text-decoration: none;
color: #ffffff; 
line-height: 75px;
}


titleframe {
width: 100%;
position:fixed;
display:block;
text-decoration:none;
z-index: 10;
background-color: #808080;
color: #808080;
}

titlebar {

background-color: #999999;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 45px;
line-height: 75px;
text-align: right;      
background-image: url("../newbeer.gif");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 0 0;
text-decoration: none;
width: 100%;
}

titlebar a:link, a:visited {
text-decoration: none;
background-color: #808080;
color: black;
}

#secnav {
color: black;
background-color: #bbbbbb;
text-decoration: none;
padding-top: 3px;
padding-bottom: 0px;
font-size: 12px; 
line-height: 17px;
height: 17px;
}
#artnav {
color: black;
background-color: #cccccc;
text-decoration: none;
padding-top :5px; 
padding-bottom: 0px;
line-height: 17px;
font-size: 13px;
height: 17px; 
}


header {
  margin-bottom: 30px;
}

header img {
	float: left; 
	border-radius: 5px;
	margin-left: -25px;
	margin-right: 10px;
}
/* Body stuff */

body {border:0; margin:0; padding:0;}

a {
  text-decoration: none;
}


a:hover {
  color: black;
}


.itemdate {
  font-size: 12px;
  margin-top: 0px;
  margin-left: 15px;
  color: #606060;
}

.itemtitle {
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 0;
}





.summary {
    font-style: italic;
}


a img {
    border: none;
}


bodytext {
 margin-left: 30px; 
}


/* Index of articles stuff */

indextitle {
margin-left: 20px;
text-decoration: none;
font-size: 20px;
display: block;
font-family: "Verdana MS", "Verdana", sans-serif;
}

indextitle a {
color: #808080;
}

indextitle img {
	float: left; 
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 10px;
}

indexmore {
margin-left: 20px;
margin-top: 100px;
text-decoration: underline;
font-size: 15px;
display: block;

}

indexmore a {
color: #606060;
}


summary {
display: block;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 30px;
font-size: 15px;
font-family: "Georgia", serif;
font-style: italic;
}


article {
  font-family: "Georgia", serif;
  font-size: medium;

  position: absolute;
  height: auto;
  width: auto;
  top: 120px;

  bottom: auto;
  left: 220px;
  right: 0;
  margin: 0;
  margin-right: 70px;

  border: 0;
  padding: 0;
  padding-left: 0.5em;

}



article bodytext p a:link {
  color: #606060;
  text-decoration: underline;
}

article bodytext p a:hover,a:visited {
  color: black;
  text-decoration: underline;
}


article h1 {
  font-size: 25px;
  margin-left: 5px;
}

article h2 {
	font-size: 18px;
	margin-left: 5px;
	font-style: italic;
}

article p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}


article ul {
  margin: 20px;
}


article li {
  list-style-type: square;
  font-size: 15px;
  line-height: 20px;
}


/* Sidebar */

nav {
  position: fixed;
  top: 120px;
  left: 5px;
  width: 200px;
  height: 100%;
  padding: 0 10px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  font-family: sans-serif;
}


nav h2 {
  font-size: 18px;
  color: #808080;
  line-height: 20px;
}


nav ul {
  list-style-type: none;
  margin: 10px 0;
}

nav a {
    color: #606060;
}

nav a:hover {
    color: #404040;
}

nav li {
  font-size: 16px;
  line-height: 18px;
}


/* Footer */


footer {
  margin-top: 50px;
  border-top: 1px solid #808080;
  font-size: 10px;
  font-family: sans-serif;
}

