<!DOCTYPE HTML>
<html lang="en">

  <!-- Set up & clean variables -->
  <% if @item[:title] %>
    <% item_title = @item[:title].strip %>
    <% if item_title == "" %>
      <% item_title = nil %>
    <% end %>
  <% else %>
    <% item_title = nil %>
  <% end %>
  
  <% if @item[:created_at] %>
  <% item_date = @item[:created_at].strip %>
  <% else %>
  <% item_date = nil %>
  <% end %>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <% if @item[:title] %>
    <title>Joris Pragt's site -- Pragtich: <%= @item[:title] %></title>
    <% else %>
    <title>Joris Pragt's site -- Pragtich</title>
    <% end %>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<link rel="alternate" type="application/rss+xml" title="Pragtich blog
    feed" href="<%=  @config[:base_url] + "/atom.xml" %>" />
</head>

  <body>

    <article>
      
      <!-- If there's no item title; we print no header, even if
           there's a date. -->
      <% if item_title %>
      <header>
        
        <% if item_title && item_date %>
        <hgroup>
          <% end %>

<%           if item[:indeximage] 
             pic_path = File.dirname(item.path) + '/' +
          item[:indeximage] %>

           <IMG SRC="<%= relative_path_to(pic_path) %>"/>
           <% end %>
          <h1 class="itemtitle"><%= item_title %></h1>

          <% if item_date %>
          <h2 class="itemdate"><%= item_date %></h2>
          <% end %>


<% if item_title && item_date %>
        </hgroup>
        <% end %>

      </header>
      <% end %>

      <% if @item[:summary]%>
             <summary>
             <%= @item[:summary] %>...</summary>
      <% end %>
<bodytext>
   <%=yield%> 
</bodytext>
      <footer>
        <% if @item[:vc_url] %>
        <p>
          You can see for yourself how <a href="<%= @config[:vc_root_url] %><%= @item[:vc_url] %>">this page has changed over time</a>.
        </p>
        <% end %>

        <% if item[:vc_url] %>
        <p><a href="http://html5.validator.nu/?doc=http%3A%2F%2Fschof.org/<%= @item[:vc_url].chomp('.html') %>">Validate this page as HTML5.</a></p>
        <% end %>



      </footer>

    </article>

<titleframe>
 <titlebar>
  <DIV id="largetitle"> <A href="/" >Pragtich</A></DIV>

 <DIV id="secnav">

 </DIV>
 <DIV id="artnav">
 </DIV> 
 </titlebar>

</titleframe>


    <nav>
      <h2>Categories</h2>
      <ul>
<%
   $cats.each do |name, cat|
		# @my_art = @items.find { |i| i.identifier == '/all_#{name}/'}
		# Does not work because we are rendering the alls_#{name}
		# stuff before the pages have been created!
		
%>
   <li><%= link_to( name, "/all_#{name}.html"  ) %> </li>


<% end %>
      </ul>
      <h2>About</h2>
      <ul>
        <li><a href="/about/">About me</a></li>
      </ul>
     </nav>



  </body>
</html>

